<div class="flex items-center justify-between gap-4 text-white pt-9">
  <div class="rounded bg-blue-900 border-none flex items-center pl-6 w-2/5">
    <ng-icon name="heroMagnifyingGlassSolid" class="font-extrabold" />
    <input
      type="text"
      placeholder="Search for a country..."
      class="p-2 py-2.5 outline-none text-sm"
    />
  </div>
  <div class="relative w-1/4">
    <select
      class="bg-blue-900 rounded text-white p-2 outline-none border-none w-full appearance-none pr-8 pl-4"
    >
      <option value="">Select an option</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
    </select>
    <svg
      class="w-5 h-5 text-white absolute right-3 top-1/2 transform -translate-y-1/2 pointer-events-none"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      viewBox="0 0 24 24"
    >
      <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7" />
    </svg>
  </div>
</div>
