<section class="py-5 px-9 text-white">
  <country-back-button/>
  @if(countryByCodeResource.hasValue()){
  <article class="pt-10 flex flex-col gap-5">
    <div class="h-fit object-cover">
      <img
        [ngSrc]="countryByCodeResource.value().flag"
        [alt]="countryByCodeResource.value().name"
        width="20"
        height="300"
        class="w-full h-full object-cover bg-white"
        sizes="100vw"
      />
    </div>
    <div class="flex flex-col gap-6">
      <h1 class="font-bold text-xl">
        {{ countryByCodeResource.value().name }}
      </h1>
      <div class="flex flex-col gap-2.5 text-sm">
        <country-information
          key="Native Name"
          [value]="countryByCodeResource.value().nativeName"
        />
        <country-information
          key="Population"
          [value]="countryByCodeResource.value().population | number"
        />
        <country-information
          key="Region"
          [value]="countryByCodeResource.value().region"
        />
        <country-information
          key="Sub Region"
          [value]="countryByCodeResource.value().subregion.toString()"
        />
        <country-information
          key="Capital"
          [value]="countryByCodeResource.value().capital"
        />
      </div>
      <div class="flex flex-col gap-2.5 text-sm">
        <country-information
          key="Top Level Domain"
          [value]="countryByCodeResource.value().topLevelDomain.toString()"
        />
        <country-information
          key="Currencies"
          [value]="countryByCodeResource.value().currency.toString()"
        />
        <country-information
          key="Languages"
          [value]="countryByCodeResource.value().languages.toString()"
        />
      </div>
      <div class="flex flex-col gap-2">
        <h3 class="font-semibold text-[1rem] mb-2.5">Border Countries:</h3>
        <div class="flex flex-wrap gap-2">
          @for (country of countriesByCodeResource.value(); track $index) {
          <country-button [countryName]="country.name" [countryCode]="country.alpha3Code" />
          }
        </div>
      </div>
    </div>
  </article>
  }
  <!--  -->
  @if(countryByCodeResource.error()){
  <h3 class="text-center text-lg mt-10">{{ countryByCodeResource.error() }}</h3>
  }
</section>
