<section class="py-5 px-9 dark:text-white">
  <country-back-button />
  @if(countryByCodeResource.hasValue()){
  <article class="pt-10 flex flex-col gap-5 lg:pt-16 lg:flex-row lg:gap-30">
    <div class="h-fit object-cover lg:w-2/5">
      <img
        [ngSrc]="countryByCodeResource.value().flag"
        [alt]="countryByCodeResource.value().name"
        width="20"
        height="300"
        class="w-full h-fit lg:h-[350px] object-cover"
        sizes="100vw"
      />
    </div>
    <div class="h-fit grid grid-cols-1 gap-8 lg:w-3/5 lg:grid-cols-2 lg:gap-6 lg:py-10">
      <div class="lg:col-span-2">
        <h1 class="font-bold text-xl lg:col-span-2 lg:text-3xl">
          {{ countryByCodeResource.value().name }}
        </h1>
      </div>
      <div class="flex flex-col gap-2.5 text-sm lg:mr-14 lg:text-lg">
        <country-information
          key="Native Name"
          [value]="countryByCodeResource.value().nativeName"
        />
        <country-information
          key="Population"
          [value]="countryByCodeResource.value().population | number"
        />
        <country-information
          key="Region"
          [value]="countryByCodeResource.value().region"
        />
        <country-information
          key="Sub Region"
          [value]="countryByCodeResource.value().subregion"
        />
        <country-information
          key="Capital"
          [value]="countryByCodeResource.value().capital"
        />
      </div>
      <div class="flex flex-col gap-2.5 text-sm lg:text-lg">
        <country-information
          key="Top Level Domain"
          [value]="countryByCodeResource.value().topLevelDomain | arrayToString"
        />
        <country-information
          key="Currencies"
          [value]="countryByCodeResource.value().currency | arrayToString"
        />
        <country-information
          key="Languages"
          [value]="countryByCodeResource.value().languages | arrayToString"
        />
      </div>
      <div
        class="flex flex-col gap-3 lg:flex-row lg:gap-2 lg:w-full lg:col-span-2 lg:items-baseline"
      >
        <h3 class="font-semibold text-sm lg:text-lg">Border Countries:</h3>
        <div class="flex flex-wrap gap-2 lg:flex-row">
          @for (country of countriesByCodeResource.value(); track $index) {
          <country-button
            [countryName]="country.name"
            [countryCode]="country.alpha3Code"
          />
          }
        </div>
      </div>
    </div>
  </article>
  }
  <!--  -->
  @if(countryByCodeResource.error()){
  <h3 class="text-center text-lg mt-10">{{ countryByCodeResource.error() }}</h3>
  }
</section>
